server:
  port: ${PORT:8080}

spring:
  application:
    name: student-crud

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger

file:
  upload-dir: ${UPLOAD_DIR:uploads}
